.sidemenu{
    position: fixed;
    top: 7%;
    left:0px;
    bottom: 0px;
    width: 20%;
    height: 100%;
    min-width: 250px;
    border: solid white;
    color:#0c2f6ddb;
    font-weight:bold;
    //background-color: #9fa8da   ;
}
.splasher{
    width:100%;
    top:0%;
}
.hide{
    display:none;
}
.selectedi{
    color:#d47a86;
}
.selected{
    color:#f5b2a8;
    weight:bolder;
    font-size:large;
}
.routarea{
    position: fixed;
    top: 7.8%;
    right:0px;
    bottom: 0px;
    width: 79%;
    min-height: 100%;
    min-width: 350px;
    margin: 0.5%;
    border: solid white;
    overflow-y: scroll;
    height: 100%;
}
.head{
    position: fixed;
    top: 0px;width: 100%;
    background: linear-gradient(35deg, #0c2f6ddb, #00aff0);
    //background-color: linear #0078d7  ;
    border-color: #00aff0  ;color: #fff;
    font-size: larger;
}
.foot{
    display: none;
}
.hids{
    display:none;
}
::-webkit-scrollbar {
    display: none;
  }
@media only screen and (max-width: 850px) {
    .sidemenu{
       display: none;
       
    }
    .routarea{
        position: fixed;
        left: 0px;
        right:0px;
        bottom: 9%;
        width: 99%;
        min-height: 100%;
        min-width: 350px;
        margin: 0.5%;
        border: solid white;
        overflow-y: scroll;
        height: 72%;
    }
    .foot{
        display: block;
        position: fixed;
        top: 93%;width: 100%;
        background: linear-gradient(0deg, #0c2f6ddb, #00aff0);
       //background-color: #0078d7  ;
        border-color: #00aff0  ;color: #fff;
        font-size: larger;
        height:7%;
        
    }
    .ico{
        width: 12%;
        text-align: right;
    }
    .hids{
        display: block;
    }
  }
  span{
    position: absolute;
    width: 99%;
    top: 0.3%;
  }
  .mnbar{
      //background-color: #0078d7  ;
      //color: #fff;
  }