<div  class=" routarea" id="routtag">
    <router-outlet></router-outlet>
</div>
    

<div class="card sidemenu" id="sidetag">
<span class="collapsible popout">
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar " (click)="moveTo('home')"[ngClass]="{'selectedi':navpath().includes('home')==true}">
        
        <i class="material-icons">home</i>
       Home
    </blockquote>
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar" (click)="moveTo('dashboard')"[ngClass]="{'selectedi':navpath().includes('dashboard')==true}">
        
        <i class="material-icons">space_dashboard</i>
       Dashboard
    </blockquote>
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar" (click)="moveTo('newentry')"[ngClass]="{'selectedi':navpath().includes('newentry')==true}">
        
        <i class="material-icons">library_add</i>
       New Entry
    </blockquote>
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar" (click)="moveTo('statusupdate')"[ngClass]="{'selectedi':navpath().includes('statusupdate')==true}">
        
        <i class="material-icons">update</i>
       Status Update
    </blockquote>
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar" (click)="moveTo('reports')"[ngClass]="{'selectedi':navpath().includes('reports')==true}">
        
        <i class="material-icons">assessment</i>
       Reports
    </blockquote>
    <blockquote class="collapsible-header z-depth-1 waves-effect mnbar" (click)="moveTo('search')"[ngClass]="{'selectedi':navpath().includes('search')==true}">
        
        <i class="material-icons">manage_search</i>
       Search
    </blockquote>
    <div class="collapsible-header z-depth-1 waves-effect mnbar" style="background-color:#e8eaf6 ">
        
        <i class="material-icons">copyright</i>
        <small>
        Copyrights eStartup.<br> All rights reserved<br>
        Designed by <a href="http://www.dimension64.com/">Dimension64</a>
        </small>
    </div>
    
    
</span>
</div>

<div class="collapsible-header z-depth-2 head valign-wrapper" id="headtag">
    <i class="material-icons">timelapse</i>
    Blubirch Appario
    <div  style="position: absolute;right:3%;height:100%;"class="valign-wrapper">
        <i class="material-icons "(click)="moveTo('notifications')"[ngClass]="{'selected':navpath().includes('notifications')==true}">notifications</i>
        <i  (click)="moveTo('profile')" class="material-icons"[ngClass]="{'selected':navpath().includes('profile')==true}">account_circle</i>
    </div>
</div>
<div class="collapsible-header z-depth-2 foot" id="foottag">
    <i class="material-icons ico" (click)="moveTo('home')"[ngClass]="{'selected':navpath().includes('home')==true}">home</i>
    <i class="material-icons ico" (click)="moveTo('dashboard')"[ngClass]="{'selected':navpath().includes('dashboard')==true}">space_dashboard</i>
    <i class="material-icons ico" (click)="moveTo('newentry')"[ngClass]="{'selected':navpath().includes('newentry')==true}">library_add</i>
    <i class="material-icons ico"  (click)="moveTo('statusupdate')"[ngClass]="{'selected':navpath().includes('statusupdate')==true}">update</i>
    <i class="material-icons ico"  (click)="moveTo('reports')"[ngClass]="{'selected':navpath().includes('reports')==true}">assessment</i>
    <i class="material-icons ico"  (click)="moveTo('search')"[ngClass]="{'selected':navpath().includes('search')==true}">manage_search</i>
    
</div>